@font-face {
    font-family: 'Freaky Story DEMO';
    src: url('FreakyStoryDEMO.woff2') format('woff2'),
        url('FreakyStoryDEMO.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Alit Halloween';
    src: url('AlitHalloween-Regular.woff2') format('woff2'),
        url('AlitHalloween-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

