@font-face {
    font-family: 'Halloween';
    src: url('Halloween.woff2') format('woff2'),
        url('Halloween.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hallowen Inline';
    src: url('HallowenInline.woff2') format('woff2'),
        url('HallowenInline.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

